.btn.link {
    background: inherit;
    transition: inherit;
    box-shadow: inherit;
    text-transform:inherit;
}
.btn.link:hover{
    text-decoration:underline
}
nav .sidenav-trigger.btn.link{
    line-height:58px
}